@import "main.scss";

.footer {
  display: block;
  height: 25rem;
  width: 100%;

  background-color: $color-primary;

  &__container {
    height: 100%;

    span {
      font-size: 4rem;
      font-weight: 800;
      text-transform: uppercase;
      color: $color-white;
    }
  }
}
