<form class="form">

  <div class="form__row grid-unit-xs--col-12">
    <label class="grid-unit-xs--col-12 grid-unit-s--col-3" for="name">
      <span>Name: </span>
    </label>
    <input class="grid-unit-xs--col-12 grid-unit-s--col-9" type="text" id="name">
  </div>

  <div class="form__row grid-unit-xs--col-12">
    <label class="grid-unit-xs--col-12 grid-unit-s--col-3" for="imagePath">
      <span>Image URL: </span>
    </label>
    <input class="grid-unit-xs--col-12 grid-unit-s--col-9" type="text" id="imagePath">
  </div>

  <div class="form__row grid-unit-xs--col-12">
    <img src="" class="jaja">
  </div>

  <div class="form__row grid-unit-xs--col-12">
    <label class="grid-unit-xs--col-12 grid-unit-s--col-3" for="description">
      <span>Description: </span>
    </label>
    <textarea class="grid-unit-xs--col-12  grid-unit-s--col-9" id="description" rows="6"></textarea>
  </div>

  <div class="form__row grid-unit-xs--col-12">
    <input class="grid-unit-xs--col-6"
           type="text">
    <input class="grid-unit-xs--col-3"
           type="number">
    <div class="flex-end grid-unit-xs--col-3">
      <button class="form__button form__button--success" type="button">
        <span>Delete</span>
      </button>
    </div>
  </div>

  <div class="form__row grid-unit-xs--col-12">
    <button class="form__button form__button--success grid-unit-xs--col-2" type="submit">
      <span>Save</span>
    </button>
    <button class="form__button form__button--success grid-unit-xs--col-2" type="button">
      <span>Cancel</span>
    </button>
  </div>
</form>
