<div class="recipe-details margin-top-medium">
  <div class="recipe-details__container grid-16-column">
    <div class="recipe-summary__information">
      <div class="margin-bottom-small">
        <h1>SCAMPI</h1>
      </div>
      <div class="recipe-summary__rating">
        <span>Rating stars</span>
      </div>
      <div class="recipe-summary__kpi-list">
        <span>280 made it</span>
        <span>59 reviews</span>
        <span>11 photos</span>
      </div>
      <div class="recipe-summary__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis, cupiditate dolores est
          excepturi incidunt mollitia nemo nobis nulla optio quasi, tempore, tenetur ullam vero voluptatem. Corporis
          distinctio fugit praesentium.</p>
      </div>
      <div class="recipe-summary__actions-wrapper">
        <ul class="recipe-summary__actions">
          <li class="recipe-summary__action border border--primary-dark">
            <a class="recipe-summary__action-link" href="#">
              To Shopping List
            </a>
          </li>
          <li class="recipe-summary__action border border--primary-dark">
            <a class="recipe-summary__action-link" href="#">
              Edit Recipe
            </a>
          </li>
          <li class="recipe-summary__action border border--primary-dark">
            <a class="recipe-summary__action-link" href="#">
              Delete Recipe
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="recipe-summary__image-wrapper">
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Recipe.jpg" alt="" class="recipe-summary__image">
    </div>
    <div class="recipe-ingredients grid-responsive-col-span-16">
      <div class="recipe-ingredients__container">
        <div class="margin-bottom-small margin-top-small center-content">
          <h2>Ingredients</h2>
        </div>
        <ul class="recipe-ingredients__list">
          <li class="recipe-ingredients__item">
            <span>Butter</span>
          </li>
          <li class="recipe-ingredients__item">
            <span>Scampi</span>
          </li>
          <li class="recipe-ingredients__item">
            <span>Lemon Juice</span>
          </li>
          <li class="recipe-ingredients__item">
            <span>Salt and Pepper</span>
          </li>
          <li class="recipe-ingredients__item">
            <span>Scampi</span>
          </li>
          <li class="recipe-ingredients__item">
            <span>Pasta</span>
          </li>
          <li class="recipe-ingredients__item">
            <span>Garlic</span>
          </li>
          <li class="recipe-ingredients__item">
            <span>Pasta</span>
          </li>
          <li class="recipe-ingredients__item">
            <span>Butter</span>
          </li>
          <li class="recipe-ingredients__item">
            <span>Garlic</span>
          </li>
          <li class="recipe-ingredients__item">
            <span>Lemon Juice</span>
          </li>
          <li class="recipe-ingredients__item">
            <span>Salt and Pepper</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="recipe-directions grid-responsive-col-span-16">
      <div class="recipe-directions__container">
        <div class="margin-top-small margin-bottom-small center-content">
          <h2>Directions</h2>
        </div>
      </div>
    </div>
  </div>
</div>
