// GRID COLUMN LAYOUT

.grid-16-column {

  display: grid;
  grid-template-columns: repeat(16, minmax(0, 1fr));

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.grid-12-column {

  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.grid-8-column {

  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.grid-4-column {

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

// GRID ROW AND COL GAP

.grid-gap-4 {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.grid-gap-2 {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.grid-gap-1 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

// GRID COLUMN SPAN

.grid-col-span-2 {
  grid-column-end: span 2;
}

.grid-col-span-3 {
  grid-column-end: span 3;
}

.grid-col-span-4 {
  grid-column-end: span 4;
}

.grid-col-span-8 {
  grid-column-end: span 8;
}

.grid-col-span-12 {
  grid-column-end: span 12;
}

.grid-col-span-16 {
  grid-column-end: span 16;
}

// DYNAMOC COLUMN SPANS

.grid-responsive-col-span-4 {
  grid-column-end: span 4;

  @media only screen and (max-width: $bp-largest) {
    grid-column-end: span 3;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column-end: span 2;
  }

  @media only screen and (max-width: $bp-small) {
    grid-column-end: span 1;
  }
}

.grid-responsive-col-span-8 {
  grid-column-end: span 8;

  @media only screen and (max-width: $bp-largest) {
    grid-column-end: span 6;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column-end: span 4;
  }

  @media only screen and (max-width: $bp-small) {
    grid-column-end: span 2;
  }
}

.grid-responsive-col-span-12 {
  grid-column-end: span 12;

  @media only screen and (max-width: $bp-largest) {
    grid-column-end: span 9;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column-end: span 6;
  }

  @media only screen and (max-width: $bp-small) {
    grid-column-end: span 3;
  }
}

.grid-responsive-col-span-16 {
  grid-column-end: span 16;

  @media only screen and (max-width: $bp-largest) {
    grid-column-end: span 12;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column-end: span 8;
  }

  @media only screen and (max-width: $bp-small) {
    grid-column-end: span 4;
  }
}

// BORDERS

.border {
  border-style: solid;
  border-width: 3px;
  border-color: $color-black;
}

.border--primary {
  border-color: $color-primary;
}

.border--primary-light {
  border-color: $color-primary-light;
}

.border--primary-dark {
  border-color: $color-primary-dark;
}

// SHADOW

.box-shadow {
  box-shadow: 0 1rem 3rem rgba($color-black, .3);
}

// MARGINS

.margin-top-largest {
  margin-top: 8rem !important;
}

.margin-top-large {
  margin-top: 6rem !important;
}

.margin-top-medium {
  margin-top: 4rem !important;
}

.margin-top-small {
  margin-top: 2rem !important;
}

.margin-top-smallest {
  margin-top: 1rem !important;
}

.margin-bottom-largest {
  margin-bottom: 8rem !important;
}

.margin-bottom-large {
  margin-bottom: 6rem !important;
}

.margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.margin-bottom-small {
  margin-bottom: 2rem !important;
}

.margin-bottom-smallest {
  margin-bottom: 1rem !important;
}

//  FLEXBOX

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
