.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;

  span {
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__btn {
    border: none;
    background-color: transparent;

    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
}
