<nav class="navbar-desktop">

  <!--  Navigation Title-->
  <div class="navbar-desktop__wrapper">
    <div class="navbar-desktop__title">
      <strong>Recipe Book</strong>
    </div>

    <!--  Menu Items  -->
    <ul class="navbar-desktop__menu-items">
      <li class="navbar-desktop__menu-item">
        <a routerLinkActive="" routerLink="/recipes" class="navbar-desktop__link">
          <span>Recipes</span>
        </a>
      </li>
      <li class="navbar-desktop__menu-item">
        <a routerLinkActive="" routerLink="/shopping-list" class="navbar-desktop__link">
          <span>Shopping List</span>
        </a>
      </li>
      <li *ngIf="!isAuthenticated" class="navbar-desktop__menu-item">
        <a routerLinkActive="" routerLink="/auth" class="navbar-desktop__link">
          <span>Authorize</span>
        </a>
      </li>
    </ul>

    <!--    Dropdown items  -->
    <div class="navbar-desktop__menu-items navbar-desktop__menu-items--align-right">
      <div *ngIf="isAuthenticated" class="navbar-desktop__menu-item">
        <a routerLinkActive="" routerLink="/auth" class="navbar-desktop__link">
          <span>Logout</span>
        </a>
      </div>
      <div class="navbar-desktop__menu-item navbar-desktop__menu-dropdown-item">
        <a class="navbar-desktop__link">
          <span>Configuration</span>
          <i class="fas fa-chevron-up"></i>
        </a>
        <ul class="dropdown box-shadow">
          <li class="dropdown__item">
            <a class="dropdown__link" (click)="onSaveData()">
              <span>Save data</span>
            </a>
          </li>
          <li class="dropdown__item">
            <a class="dropdown__link" (click)="onFetchData()">
              <span>Fetch data</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--  </div>-->
</nav>
