@import 'main.scss';

.navbar-desktop {

  background-color: $color-primary;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $bp-medium) {
    display: none;
  }

  &__wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 128rem;
    width: 100%;
    height: 100%;
    position: relative;

    @media only screen and (max-width: $bp-largest) {
      margin: 0 1rem;
      max-width: unset;
    }
  }

  &__title {
    color: $color-white;
    font-weight: 700;
    font-size: $navigation-title;
    text-transform: uppercase;
    line-height: 2rem;
    white-space: nowrap;
    margin-right: 1rem;
  }

  &__menu-items {
    height: 100%;
    width: 100%;

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &--align-right {
      justify-content: flex-end;
    }
  }

  &__menu-item {
    height: 100%;

    display: flex;
    align-items: center;

    padding: 0 1rem;
    margin-right: 1rem;

    transition: all .1s;
  }

  &__menu-item--highlight {
    &:hover {
      background-color: $color-primary-light;
    }
  }

  &__link {
    display: block;

    text-decoration: none;
    text-transform: uppercase;

    color: $color-white;

    font-size: $navigation-items-font-size;
    font-weight: 600;
    line-height: 2rem;

    border-bottom: 0 solid transparent;

    &:hover,
    &:active {
      border-bottom: 3px solid $color-primary-dark;
    }
  }

  &__menu-dropdown-item {

    position: relative;

    i {
      margin-left: 1rem;
    }

    &:hover i {
      transform: rotate(180deg);
    }
  }

  &__menu-dropdown-item:hover .dropdown {
    height: auto;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 0; // for transformation
  z-index: 10;
  overflow: hidden;

  list-style: none;
  text-align: left;

  background-color: $color-primary-light;
  border: $color-grey-dark-2 solid 1;

  transition: height .2s;

  &__item:first-child {
    margin-top: 1rem;
  }

  &__item {
    position: relative;
    margin-bottom: 1rem;
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-primary-dark;
    transform: scaleY(0);
    transform-origin: center; // default value
    transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
    z-index: -1;
  }

  &__item:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__link:link,
  &__link:visited {
    padding: 1rem 0;
    padding-left: 1rem;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $navigation-items-font-size;
    font-weight: 600;
    line-height: 2rem;
    cursor: pointer;
  }
}



