<nav class="navbar">
  <div class="navbar__wrapper">
    <div class="navbar__title">
      <strong>Recipe Book</strong>
    </div>

    <div class="navbar__content">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a href="#" class="navbar__link">
            <span>Recipes</span>
          </a>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__link">
            <span>Shopping List</span>
          </a>
        </li>
      </ul>
      <div class="menu">
        <div class="menu__item">
          <a href="#" class="menu__link">
            <span>Configuration</span>
            <i class="fas fa-chevron-up"></i>
          </a>
        </div>
        <ul class="dropdown">
          <li class="dropdown__item">
            <a href="" class="dropdown__link">
              <span>Save data</span>
            </a>
          </li>
          <li class="dropdown__item">
            <a href="" class="dropdown__link">
              <span>Fetch data</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
