<nav class="navbar-desktop">

  <!--  Navigation Title-->
  <div class="navbar-desktop__wrapper">
    <div class="navbar-desktop__title">
      <strong>Recipe Book</strong>
    </div>

    <!--  Menu Items  -->
    <ul class="navbar-desktop__menu-items">
      <li class="navbar-desktop__menu-item">
        <a href="#" class="navbar-desktop__link">
          <span>Recipes</span>
        </a>
      </li>
      <li class="navbar-desktop__menu-item">
        <a href="#" class="navbar-desktop__link">
          <span>Shopping List</span>
        </a>
      </li>
    </ul>

    <!--    Dropdown items  -->
    <div class="navbar-desktop__menu-items navbar-desktop__menu-items--align-right">
      <div class="navbar-desktop__menu-item navbar-desktop__menu-dropdown-item">
        <a href="#" class="navbar-desktop__link">
          <span>Configuration</span>
          <i class="fas fa-chevron-up"></i>
        </a>
        <ul class="dropdown">
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">
              <span>Save data</span>
            </a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">
              <span>Fetch data</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--  </div>-->
</nav>
