.grid-unit-xl--col-12 {
  @media only screen and (min-width: $bp-largest) {
    grid-column-end: span 12;
  }
}

.grid-unit-xl--col-11 {
  @media only screen and (min-width: $bp-largest) {
    grid-column-end: span 11;
  }
}

.grid-unit-xl--col-10 {
  @media only screen and (min-width: $bp-largest) {
    grid-column-end: span 10;
  }
}

.grid-unit-xl--col-9 {
  @media only screen and (min-width: $bp-largest) {
    grid-column-end: span 9;
  }
}

.grid-unit-xl--col-8 {
  @media only screen and (min-width: $bp-largest) {
    grid-column-end: span 8;
  }
}

.grid-unit-xl--col-7 {
  @media only screen and (min-width: $bp-largest) {

    grid-column-end: span 7;
  }
}

.grid-unit-xl--col-6 {
  @media only screen and (min-width: $bp-largest) {

    grid-column-end: span 6;
  }
}

.grid-unit-xl--col-5 {
  @media only screen and (min-width: $bp-largest) {
    grid-column-end: span 5;
  }
}

.grid-unit-xl--col-4 {
  @media only screen and (min-width: $bp-largest) {
    grid-column-end: span 4;
  }
}

.grid-unit-xl--col-3 {
  @media only screen and (min-width: $bp-largest) {
    grid-column-end: span 3;
  }
}

.grid-unit-xl--col-2 {
  @media only screen and (min-width: $bp-largest) {
    grid-column-end: span 2;
  }
}

.grid-unit-xl--col-1 {
  @media only screen and (min-width: $bp-largest) {
    grid-column-end: span 1;
  }
}
