.grid-unit-xs--col-12 {
   grid-column-end: span 12;
 }

.grid-unit-xs--col-11 {
  grid-column-end: span 11;
}

.grid-unit-xs--col-10 {
  grid-column-end: span 10;
}

.grid-unit-xs--col-9 {
  grid-column-end: span 9;
}

.grid-unit-xs--col-8 {
  grid-column-end: span 8;
}

.grid-unit-xs--col-7 {
  grid-column-end: span 7;
}

.grid-unit-xs--col-6 {
  grid-column-end: span 6;
}

.grid-unit-xs--col-5 {
  grid-column-end: span 5;
}

.grid-unit-xs--col-4 {
  grid-column-end: span 4;
}

.grid-unit-xs--col-3 {
  grid-column-end: span 3;
}

.grid-unit-xs--col-2 {
  grid-column-end: span 2;
}

.grid-unit-xs--col-1 {
  grid-column-end: span 1;
}
