<div class="recipes">
  <div class="recipes__title">
    <h2>Available Recipes</h2>
  </div>
  <div class="recipes__container">
    <a class="recipe-card" *ngFor="let recipe of recipes">
      <div class="recipe-card__image-container">
        <img class="recipe-card__image" [src]="recipe.imagePath" alt="{{recipe.name}}">
      </div>
      <div class="recipe-card__description">
        <h4 class="recipe-card__title">{{recipe.name}}</h4>
        <p>{{recipe.description}}</p>
      </div>
    </a>
    <a class="recipe-card" *ngFor="let recipe of recipes">
      <div class="recipe-card__image-container">
        <img class="recipe-card__image" [src]="recipe.imagePath" alt="{{recipe.name}}">
      </div>
      <div class="recipe-card__description">
        <h4 class="recipe-card__title">{{recipe.name}}</h4>
        <p>{{recipe.description}}</p>
      </div>
    </a>
    <a class="recipe-card" *ngFor="let recipe of recipes">
      <div class="recipe-card__image-container">
        <img class="recipe-card__image" [src]="recipe.imagePath" alt="{{recipe.name}}">
      </div>
      <div class="recipe-card__description">
        <h4 class="recipe-card__title">{{recipe.name}}</h4>
        <p>{{recipe.description}}</p>
      </div>
    </a>
    <a class="recipe-card" *ngFor="let recipe of recipes">
      <div class="recipe-card__image-container">
        <img class="recipe-card__image" [src]="recipe.imagePath" alt="{{recipe.name}}">
      </div>
      <div class="recipe-card__description">
        <h4 class="recipe-card__title">{{recipe.name}}</h4>
        <p>{{recipe.description}}</p>
      </div>
    </a>
    <a class="recipe-card" *ngFor="let recipe of recipes">
      <div class="recipe-card__image-container">
        <img class="recipe-card__image" [src]="recipe.imagePath" alt="{{recipe.name}}">
      </div>
      <div class="recipe-card__description">
        <h4 class="recipe-card__title">{{recipe.name}}</h4>
        <p>{{recipe.description}}</p>
      </div>
    </a>

<!--    </a>-->
<!--    <a class="recipe-card" *ngFor="let recipe of recipes">-->
<!--      <div class="recipe-card__image-container">-->
<!--        <img class="recipe-card__image" [src]="recipe.imagePath" alt="{{recipe.name}}">-->
<!--      </div>-->
<!--      <div class="recipe-card__description">-->
<!--        <h4 class="recipe-card__title">{{recipe.name}}</h4>-->
<!--        <p>{{recipe.description}}</p>-->
<!--      </div>-->
<!--    </a>-->
<!--    <a class="recipe-card" *ngFor="let recipe of recipes">-->
<!--      <div class="recipe-card__image-container">-->
<!--        <img class="recipe-card__image" [src]="recipe.imagePath" alt="{{recipe.name}}">-->
<!--      </div>-->
<!--      <div class="recipe-card__description">-->
<!--        <h4 class="recipe-card__title">{{recipe.name}}</h4>-->
<!--        <p>{{recipe.description}}</p>-->
<!--      </div>-->
<!--    </a>-->
<!--    <a class="recipe-card" *ngFor="let recipe of recipes">-->
<!--      <div class="recipe-card__image-container">-->
<!--        <img class="recipe-card__image" [src]="recipe.imagePath" alt="{{recipe.name}}">-->
<!--      </div>-->
<!--      <div class="recipe-card__description">-->
<!--        <h4 class="recipe-card__title">{{recipe.name}}</h4>-->
<!--        <p>{{recipe.description}}</p>-->
<!--      </div>-->
<!--    </a>-->
<!--    <a class="recipe-card" *ngFor="let recipe of recipes">-->
<!--      <div class="recipe-card__image-container">-->
<!--        <img class="recipe-card__image" [src]="recipe.imagePath" alt="{{recipe.name}}">-->
<!--      </div>-->
<!--      <div class="recipe-card__description">-->
<!--        <h4 class="recipe-card__title">{{recipe.name}}</h4>-->
<!--        <p>{{recipe.description}}</p>-->
<!--      </div>-->
<!--    </a>-->
<!--    <a class="recipe-card" *ngFor="let recipe of recipes">-->
<!--      <div class="recipe-card__image-container">-->
<!--        <img class="recipe-card__image" [src]="recipe.imagePath" alt="{{recipe.name}}">-->
<!--      </div>-->
<!--      <div class="recipe-card__description">-->
<!--        <h4 class="recipe-card__title">{{recipe.name}}</h4>-->
<!--        <p>{{recipe.description}}</p>-->
<!--      </div>-->
<!--    </a>-->
<!--    <a class="recipe-card" *ngFor="let recipe of recipes">-->
<!--      <div class="recipe-card__image-container">-->
<!--        <img class="recipe-card__image" [src]="recipe.imagePath" alt="{{recipe.name}}">-->
<!--      </div>-->
<!--      <div class="recipe-card__description">-->
<!--        <h4 class="recipe-card__title">{{recipe.name}}</h4>-->
<!--        <p>{{recipe.description}}</p>-->
<!--      </div>-->
<!--    </a>-->
<!--    <a class="recipe-card" *ngFor="let recipe of recipes">-->
<!--      <div class="recipe-card__image-container">-->
<!--        <img class="recipe-card__image" [src]="recipe.imagePath" alt="{{recipe.name}}">-->
<!--      </div>-->
<!--      <div class="recipe-card__description">-->
<!--        <h4 class="recipe-card__title">{{recipe.name}}</h4>-->
<!--        <p>{{recipe.description}}</p>-->
<!--      </div>-->
<!--    </a>-->
  </div>

  <button>New Recipe</button>
</div>

