@import 'main.scss';

.recipes {

  margin: 2rem auto;
  max-width: $max-width;

  @media only screen and (max-width: $bp-largest) {
    margin: 2rem 1rem;
    max-width: unset;
  }

  h2 {
    display: block;
    height: 100%;
    margin-bottom: 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    width: 100%;
    flex-wrap: wrap;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

.recipe-card {

  grid-column-end: span 4;
  display: grid;
  grid-template-columns: repeat(12, minmax(0,1fr));
  grid-column-gap: 0;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;

  box-shadow: 0 1rem 3rem rgba($color-black, .1);
  border: $color-primary-dark 2px solid;
  border-radius: 5px;
  margin-bottom: 1rem;

  &__image-container {
    display: block;
    grid-column-end: span 12;
    text-align: center;
  }

  &__image {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  &__description {
    display: block;
    grid-column-end: span 12;
    margin-top: 2rem;
    padding-left: 1rem;
  }

  &__title {
    color: $color-primary-dark;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  p {
    color: $color-grey-dark;
    font-size: 1.4rem;
    font-weight: 700;
  }
}
