<form class="form margin-top-small" (ngSubmit)="onSubmit(f)" #f="ngForm">

  <div class="form__row grid-unit-xs--col-12">
    <label class="grid-unit-xs--col-3" for="name">
      <span>Name: </span>
    </label>
    <input class="grid-unit-xs--col-9" type="text" id="name" name="name" ngModel>
  </div>

  <div class="form__row grid-unit-xs--col-12">
    <label class="grid-unit-xs--col-3" for="amount">
      <span>Amount: </span>
    </label>
    <input class="grid-unit-xs--col-9" type="number" id="amount" name="amount" ngModel required
           pattern="^[1-9]+[0-9]*$">
  </div>

  <div class="form__row grid-unit-xs--col-12">
    <button class="form__button form__button--success grid-unit-xs--col-3"
            type="submit"
            [disabled]="!f.valid"
            [ngClass]="{'disabled': !f.valid}">
      <span>{{editMode ? 'Update' : 'Add'}}</span>
    </button>
    <button class="form__button form__button--success grid-unit-xs--col-3"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode">
      <span>Delete</span>
    </button>
    <button class="form__button form__button--success grid-unit-xs--col-3"
            type="button"
            (click)="onClear()">
      <span>Clear</span>
    </button>
  </div>

</form>
