<form class="form margin-top-small" (ngSubmit)="onSubmit()" [formGroup]="slForm">

  <div class="form__row grid-unit-xs--col-12">
    <label class="grid-unit-xs--col-3" for="name">
      <span>Name: </span>
    </label>
    <input formControlName="name" class="grid-unit-xs--col-9" type="text" id="name" name="name">
  </div>

  <div class="form__row grid-unit-xs--col-12">
    <label class="grid-unit-xs--col-3" for="amount">
      <span>Amount: </span>
    </label>
    <input formControlName="amount" class="grid-unit-xs--col-9" type="number" id="amount" name="amount">
  </div>

  <div class="form__row grid-unit-xs--col-12">
    <button class="form__button form__button--success grid-unit-xs--col-3"
            type="submit"
            [disabled]="!slForm.valid"
            [ngClass]="{'disabled': !slForm.valid}">
      <span>{{shouldIngredientBeEdited ? 'Update' : 'Add'}}</span>
    </button>
    <button class="form__button form__button--success grid-unit-xs--col-3"
            type="button"
            (click)="onDelete()"
            *ngIf="shouldIngredientBeEdited">
      <span>Delete</span>
    </button>
    <button class="form__button form__button--success grid-unit-xs--col-3"
            type="button"
            (click)="onClear()">
      <span>Clear</span>
    </button>
  </div>

</form>
